.App {
  text-align: center;
}

.Cards {
  width: 450px;
  margin: 0 auto;
}
.Cards button {
  padding: 10px;
  background-color: blue;
  border: none;
  color: #fff;
}
.Cards button:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

.Card {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #333;
}